<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.BirdIView"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="15"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
            android:theme="@android:style/Theme.Holo.Light">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Search" />
        <activity android:name=".Search_2" />
        <activity android:name=".Search_3" />
        <activity android:name=".Search_4" />
        <activity android:name=".Search_5" />
        <activity android:name=".Report" />
        <activity android:name=".Register" />
        <activity android:name=".MainMenu" />
        <activity android:name=".History" />
        <activity android:name=".Selected" />
    </application>
</manifest>
